body{
    background-color :#1f1f22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.seat {
    width: 50px;
    height: 50px;
    margin: 3px;
    border-radius: 8px;
    background: rgb(196, 6, 6);
    margin-bottom: 10px;
    transform: skew(10deg);
    margin-top: -30px;
    box-shadow: 0 0 2px rgba(114, 110, 110, 0.5)
    

  }
  .seat:not(.reserved):hover{
      cursor: pointer;
      transform: scale(1.5);
      
  }
  .seat.selected{
      background-color: rgb(44, 136, 7);
  }
  .seat.reserved{
        background-color: rgb(13, 13, 150);
  }
  .seat:nth-of-type(2){
      margin-right: 30px;
  }
  .seat:nth-last-of-type(3){
    margin-right: 30px;
}
  .row{
      display: flex;
  }
.scren{
    background-color: wheat;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px  3px 20px rgba(255, 255, 255, 0.7)
    
}
.movie-list{
    margin-top: 30px;
    
}
.info{
   
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding: 5px;
    justify-content: center;
    text-align: center;
    color: rgb(230, 219, 219);
    
  

}
.info li{
    display: flex;
    padding: 1px;
    margin: 0px 3px;
}
.text{
    color: whitesmoke;
    
}
p.text span{
    color: rgb(44, 136, 7);
    font-size: 18px;
}